body {
    background-color: #f0f0f0;
}
h1 {
    text-align: center;
    color: rgb(255,0, 0);
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: #DFF6FF;
}
h2{
    color: #bc6cd6;
}
p {
    font-size: large;
    text-align: center;
    font-weight: bold;
    color:rgb(76, 108, 153);
}
img{
    max-width: 25%;
    max-height: 25%;
}
ol li {
    font-size: 30px;
    color: white;
}
ul li {
    color: green;
    font-weight: bold;
    background-color: #dcf539;
    text-align: center;
}

.enviar{
    border-radius: 5px;
    background-color: blue;
}
.etiqueta{
    background-color: #fd0952;
    color: #DFF6FF;
}
.registrar{
    color: #FFF5E9;
    border-radius: 10px;
    background-color: black;
}
.iniciar_sesion{
    color: #FFF5E9;
    border-radius: 10px;
    background-color: black;    
}
